main h1 {
	font-size: 9vw;
}
main h2 {
	font-size: 6dvw;
}

h2::before {
	content: "";
	position: absolute;
	bottom: -1.2dvw;
	left: 0;
	width: 17%;
	height: 1.5px;
	background-color: black;
	transform: translateY(-50%);
}
main h3 {
	font-size: 7dvw;
}
#discover {
	width: 95%;
}
#wrapper-img-discover,
#wrapper-img-popular-for-you,
#wrapper-img-new-recipe {
	width: 85%;
}
#img-discover {
	width: 80%;
}

main p {
	font-size: 3dvw;
	margin-top: 3dvw;
}
main .btn-learn-more {
	font-size: 7px;
	width: 25vw;
	margin-top: 1dvw;
}

main #popular-recipe p {
	font-size: 4dvw;
	font-weight: 500;
	bottom: 0.3dvw;
	left: 6dvw;
}
main #popular-recipe img {
	width: 90%;
	/* width: 100%; */
}

@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 768px) {
	main h1 {
		font-size: 3.6vw;
	}
	main h2 {
		font-size: 2.8dvw;
	}
	main h3 {
		font-size: 2.4dvw;
	}
	#discover {
		width: 100%;
	}
	#wrapper-img-discover,
	#wrapper-img-popular-for-you,
	#wrapper-img-new-recipe {
		width: 50%;
	}
	#img-discover {
		width: 38dvw;
	}
	main p {
		font-size: 1.2dvw;
		margin-top: 3dvw;
	}
	main .btn-learn-more {
		font-size: 0.8vw;
		width: 10vw;
		margin-top: 1dvw;
	}

	main #popular-recipe p {
		font-size: 2.5dvw;
		left: 4dvw;
	}
}

@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
	main #popular-recipe p {
		font-size: 1.6dvw;
		left: 2.9dvw;
	}
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1720px) {
}
