body {
	margin-top: -70vw;
	margin-bottom: 40px;
}

#content-left {
	display: none;
}

.bg-image-content-left {
	display: block;
	width: 50vw;
	height: 100%;
	z-index: -1;
	position: absolute;
}

.bg-left {
	background-color: #efc81a;
	height: 100%;
	width: 50vw;
	opacity: 0.7;
	position: absolute;
}

/* logo */
#page-login .img-logo {
	width: 182px;
	height: 224px;
	position: absolute;
	top: 45%;
	left: 22vw;
}

.bg-image-content-left {
	width: 50vw;
	height: 100%;
	z-index: -1;
	position: absolute;
}

.bg-left {
	background-color: #efc81a;
	height: 100%;
	width: 50vw;
	opacity: 0.7;
	position: absolute;
}

/* logo */
#page-login .img-logo {
	width: 182px;
	height: 224px;
	position: absolute;
	top: 45%;
	left: 22vw;
}

#content-right {
	margin-top: 270px;
}

form .width-form {
	width: 85vw;
}

@media only screen and (min-width: 375px) {
	body {
		margin-top: -55vw;
		margin-bottom: 80px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		margin-top: -28vw;
	}
	form .width-form {
		width: 60vw;
	}
}
@media only screen and (min-width: 1024px) {
	body {
		margin-top: -18vw;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		min-width: 1024px;
	}
}

@media only screen and (min-width: 1400px) {
	body {
		min-width: 1280px;
		height: 1587px;
		margin-bottom: 0;
	}

	#content-left {
		display: block;
	}

	form .width-form {
		width: 426px;
	}

	#content-right {
		margin-top: 529px;
	}
}

@media only screen and (min-width: 1440px) {
	body {
		min-width: 1440px;
	}
}
